<!DOCTYPE html>
<html   xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/get-ticket}">
	Enter Ticket Number: <input type="text" name="ticketNum"/>
	<input type="submit" value="Get Ticket"/>
	</form>
	Name:<p th:text="${ticket.name}"/>
		From:<p th:text="${ticket.from}"/>
		To:<p th:text="${ticket.to}"/>
		DOJ:<p th:text="${ticket.doj}"/>
		Status:<p th:text="${ticket.status}"/>
		TicketCost:<p th:text="${ticket.ticketCost}"/>
		
	<hr/>
	
</body>
</html>